// GLOBAL VARIABLES
@mainColor1: #fff;
@mainColor2: #000;
@mainColor3: #fed136;

@contactBackColor: #222222;

@fontSize1: 30px;
@fontSize2: 26px;
@fontSize3: 15px;


*{
	margin: 0;
	padding: 0;
}

body, html{
	height: 100%;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 35px;
}

h3{
	font-size: 19px;
}

p{
	font-size: 14px;
}

.btn{
	margin: 40px auto;
	display: block;
	width: 240px;
	height: 65px;
	background-color: @mainColor3;
	border: none;
	color: @mainColor1;
	text-transform: uppercase;
	font-size: 17px;

	&:hover{
		background-color: @mainColor2;
		color: @mainColor1 !important;
	}
}


//Вспомогательные классы
.margin{
	height: 100px;
}

.back-grey{
	background-color: darken(@mainColor1, 4%)
}

.back-white{
	background-color: @mainColor1;
}

.text-align-right{
	text-align: right !important;
	left: 40px;
}

.text-align-left{
	text-align: left !important;
	right: 40px;
}

.relative{
	position: relative;
}

//Контейнеры
.main-wrapper{
	width: 100%;
	height: 100%;
	background-color: @contactBackColor;
	background: url('../img/main-back.jpg') no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main{
	.navigation{
		float: right;
		ul{
			list-style: none;

			li{
				text-transform: uppercase;
				float: left;
				margin: 45px 20px;

				a{
					color: @mainColor1;
					display: block
				}
			}
		}
	}

	.hello{
		margin-top: 150px;

		h1, h2{
			text-align: center;
			color: @mainColor1
		}
		h1{
			font-size: 38px;
			font-style: italic;
		}
		h2{
			text-transform: uppercase;
			font-size: 70px;
			margin-top: 25px;
		}
	}
	
	.logo{
		margin-top: 35px;
	}
}
.services, .portfolio{


	h3{
		text-align: center;
	}

	p{
		text-align: center;
		font-size: 14px;
	}

	img{
		display: block;
		margin: auto;
	}
}

.container-head{
	margin-top: 80px;

	h2{
		text-align: center;
		text-transform: uppercase;
		font-size: 38px;
	}

	p{
		text-align: center;
		font-style: italic;
		font-size: 16px;
		color: #777777;
	}
}

//Services
.services{
	.item{
		margin: 60px auto;
		width: 85%;
	}
}

//Portfolio
.portfolio{
	.item{
		background-color: @mainColor1;
		margin: 50px 3px 0 3px;
	}

	img{
		width: 100%;
	}

	.caption{
		padding: 15px;
	}
}

//About Us
.about-us{

	.item{
		margin-top: 50px;
	}

	img{
		display: block;
		margin: 20px auto;
	}

	p{
		font-style: italic;
		font-size: 14px;
		color: #777777;
		right: 20px;
	}
}

//Amazing
.amazing{
	.item{
		margin-top: 70px;
	}

	h3{
		font-size: 17px;
		text-align: center;
	}

	p{
		text-align: center;
		font-style: italic;
		font-size: 14px;
		color: #777777;
		right: 20px;
	}
	.black-circle{
		margin: auto;
		width: 220px;
		height: 220px;
		background: @mainColor2;
		-moz-border-radius: 110px;
		-webkit-border-radius: 110px;
		border-radius: 110px;
	}
	.social{
		height: 40px;
		width: 150px;
		margin: auto;

		.icon{
			width: 40px;
			height: 40px;
			background-image: url('../img/social.png');
			float: left;
			margin: 5px;

			&:hover{
				background-image: url('../img/social-hover.png')
			}
		}
	}
}

//social icons
.twitter {background-position: 0;}
.facebook {background-position: -40px;}
.pinterest {background-position: -80px;}
.google {background-position: -120px;}

//Amazing
.logos{

	.logos-container{
		margin: 50px 50px;

		.logo-div{
			width: 25%;
			height: 120px;
			float: left;
		}
		
	}
}

//contacts
.contacts-wrapper{
	width: 100%;
	height: 100%;
	background-color: @contactBackColor;
	background-image: url('../img/contacts-back.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.contacts{
	.form-wrapper{
		margin-top: 30px;
	}
	.container-head{
		margin-top: 0px;

		h2{
			color: @mainColor1;
		}
	}

	input{
		width: 100%;
		height: 50px;
		margin-top: 29px;
	}

	textarea{
		width: 100%;
		margin-top: 28px;
		height: 210px;
	}

	button{
		margin: 40px auto;
		display: block;
		width: 240px;
		height: 65px;
		background-color: @mainColor3;
		border: none;
		color: @mainColor1;
		text-transform: uppercase;
		font-size: 17px;

		&:hover{
			background-color: @mainColor2;
		}
	}
}

//foter
.footer{
	p{
		font-size: 14px;
		color: #777777;
		margin-top: 36px;
	}

	width: 100%;
	height: 90px;
	background-color: @mainColor1;

	.social{
		height: 40px;
		width: 200px;
		margin: 20px auto;

		.icon{
			width: 40px;
			height: 40px;
			background-image: url('../img/social2.png');
			float: left;
			margin: 5px;

			&:hover{
				background-image: url('../img/social-hover.png')
			}
		}
	}
}

