@media screen and (max-width: 1060px) {
  .main {
    background-size: auto;
  }
}
@media screen and (max-width: 600px) {
  .main {
    background-position: -500px;
  }
  .arneevo-main-logo {
    width: 100px !important;
  }
  .arneevo-main-logo img {
    width: 100px;
  }
  .main-h {
    top: 15%;
  }
  .main-h h1 {
    font-size: 27px !important;
  }
  .main-h h2 {
    font-size: 14px !important;
  }
}
